*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    font-family: 宋体;
}

.return{
    position: absolute;
    top: 40px;
    left: 100px;
}

.return a{
    color: red;
}

.hand{
    width: 100%;
    height: 150px;
    text-align: center;
}

.hand img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main{
    width: 100%;
    height: 820px;
    position: relative;
}

.klb{
    width: 100%;
    height: 50%;
    text-align: left;
    background-color: black;
}

.czf{
    width: 100%;
    height: 50%;
    text-align: left;
    background-color: red;
}

.body{
    position: relative;
    height: 100%;
    width: 60%;
    left: 20%;
}

.klb img{
    position: relative;
    height: 80%;
    top: 10%;
    border-radius: 50%;
    border: 5px solid white;
}

.czf img{
    position: relative;
    height: 80%;
    top: 10%;
    border-radius: 50%;
    border: 5px solid black;
}

.massage{
    text-align: left;
    float: right;
    height: 100%;
    width: 60%;
}

.massage dl{
    margin-left: 20%;
    color: white;
    font-size: 25px;
}

.massage h1{
    color: white;
    margin-top: 10%;
    text-align: left;
    font-size: 30px;
}

