@font-face {
  font-family: "iconfont"; /* Project id 2736631 */
  src: url('iconfont.woff2?t=1628649280251') format('woff2'),
       url('iconfont.woff?t=1628649280251') format('woff'),
       url('iconfont.ttf?t=1628649280251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e83f";
}

.icon-yinle:before {
  content: "\e62e";
}

.icon-youjian:before {
  content: "\e635";
}

.icon-gouwuche:before {
  content: "\e636";
}

